name: CD

on:
  push:
    branches: ["main", "deploy-test"]

jobs:
  deploy:
    runs-on: ubuntu-latest
    env:
      SERVICE_NAME: banana-code-service
      REGION: us-central1

    permissions:
      contents: "read"
      id-token: "write"

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
      - id: "auth"
        uses: "google-github-actions/auth@v2"
        with:
          credentials_json: ${{ secrets.GCP_CREDENTIALS }}
      - name: Configure Docker
        run: gcloud auth configure-docker --quiet
      - name: Build Docker Image
        env:
          DB_URL_BUILD: postgresql://${{ secrets.DB_USER_PROD }}:${{ secrets.DB_PASS_PROD }}@/bananacode?schema=public&host=/cloudsql/clever-oasis-479222-s1:us-central1:deploy-db
        run: |
          IMAGE_TAG=gcr.io/${{ secrets.GCP_PROJECT_ID }}/${{ env.SERVICE_NAME }}:${{ github.sha }}
          docker build \
            --build-arg DATABASE_URL=$DB_URL_BUILD \
            -t ${IMAGE_TAG} \
            -f **banana-code/Dockerfile** \
      - name: Push Docker Image
        run: |
          IMAGE_TAG=gcr.io/${{ secrets.GCP_PROJECT_ID }}/${{ env.SERVICE_NAME }}:${{ github.sha }}
          docker push ${IMAGE_TAG}
      - name: Deploy to Cloud Run
        uses: google-github-actions/deploy-cloudrun@v2
        with:
          service: ${{ env.SERVICE_NAME }}
          region: ${{ env.REGION }}
          image: gcr.io/${{ secrets.GCP_PROJECT_ID }}/${{ env.SERVICE_NAME }}:${{ github.sha }}
          project_id: ${{ secrets.GCP_PROJECT_ID }}
          flags: |
            --set-cloudsql-instances clever-oasis-479222-s1:us-central1:deploy-db
            --set-env-vars DATABASE_URL=postgresql://${{ secrets.DB_USER_PROD }}:${{ secrets.DB_PASS_PROD }}@/bananacode?schema=public&host=/cloudsql/clever-oasis-479222-s1:us-central1:deploy-db
